*.py[cod]

# Packages
*.egg
*.egg-info
dist/
build/
eggs
parts
bin
var
sdist
develop-eggs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.hypothesis

# Sphinx
docs/_build

# Generated HDL and related
*.o
*.v
*.vcd*
work*
transcript
